<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>HOME</title>
</head>

<body>

<header class="mb-3">

    <div class="container">
        <div class="row justify-content-center text-center text-dark">
            <div class="col-sm-10 text-black text-decoration-none fw-bold fs-4">
                <nav>
                    <a href="/">Home</a> |
                    <a href="/registertest">Register</a> |
                    <a href="/logintest">Login</a>
                </nav>
            </div>
        </div>
    </div>

</header>  

<main>

    <div class="container mt-3">
        <div class="row justify-content-center text-start">
            <div class="col-sm-8">
                <h1 class="text-center">API ENDPOINTS:</h1><br>
                <hr>
                <h2 class="text-center fw-bold">PRODUCTS ENDPOINTS</h2><br>
    
                <li><span class="fw-bold">(GET)/products :</span>Get all products.</li>
                
                <li><span class="fw-bold">(GET)/products/:id :</span> Get single product.</li>

                <li><span class="fw-bold">(POST)/products/:id :</span> Add single product.</li>

                <li><span class="fw-bold">(PUT)/products/:id :</span> Update single product.</li>

                <li><span class="fw-bold">(DELETE)/products/:id :</span> DELETE single product.</li>
             <hr>
                <h2 class="text-center fw-bold">USERS ENDPOINTS</h2><br>
               
                <li><span class="fw-bold">(GET)/users :</span>Get all users.</li>
                
                <li><span class="fw-bold">(GET)/users/:id :</span> Get single user.</li>

                <li><span class="fw-bold">(POST)/users/:id :</span> Add single user.</li>

                <li><span class="fw-bold">(PUT)/users/:id :</span> Update single user.</li>

                <li><span class="fw-bold">(DELETE)/users/:id :</span> DELETE single user.</li>
                <hr>

                <h2 class="text-center fw-bold">CART ENDPOINTS</h2><br>
               
                <li><span class="fw-bold">(GET)/users/:id/cart :</span>Get all user cart items.</li>
                
                <li><span class="fw-bold">(GET)/users/:id/cart/:cart_id :</span> Get single user cart item.</li>

                <li><span class="fw-bold">(POST)/users/:id/cart :</span> Add single item to cart.</li>

                <li><span class="fw-bold">(DELETE)/users/:id/cart :</span> DELETE all items from user cart.</li>

                <li><span class="fw-bold">(DELETE)/users/:id/cart/:cart_id :</span> DELETE single item from user cart.</li>
                <hr>
            </div>
        </div>
    </div>
    
</main>

<footer>

</footer>
    
</body>
</html>